<div class="footer-container">
  <img src="./../../../assets/LogoSimSave.svg" alt="Sim Save Logo">

  <div class="network-container">
    <div class="icon-container">
      <fa-icon [icon]="faTwitter" class="icon"></fa-icon>
    </div>
    <div class="icon-container">
      <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
    </div>
    <div class="icon-container">
      <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
    </div>
    <div class="icon-container">
      <fa-icon [icon]="faYoutube" class="icon"></fa-icon>
    </div>
    <div class="icon-container">
      <fa-icon [icon]="faLinkedin" class="icon"></fa-icon>
    </div>
  </div>

  <div class="contact-container">
    <div class="icon-container">
      <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
    </div>
  </div>
</div>
